html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body *{box-sizing:border-box}body{font-size:16px}

h3 {
    font-size: 1.125em;
}
p {
    font-size: 1.125em;
}
.layer {
    position: absolute;
    z-index: 1;
    width: 760px;
    height: 518px;
    top: 10px;
    background-color: lightgrey;
    opacity: 0.8;
}
.popup {
    position: absolute;
    top: 180px;
    left: 250px;
    border-radius: 10px;
    background-color: #C5E0B4; 
    width: 285px;
    padding: 10px;
    z-index: 3;
    box-shadow: 0 20px 40px 0 rgba(15, 15, 15, 0.5);
}
.pop {
    background-color: lightgray;
    width: 80px;
    border-radius: 10px;
    align-items: center;
}
.top {
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
}

.logo {
    padding: 25px;
    margin-right: 30px;
}
.mainContent {
    margin-left: 5%;
    margin-right: 5%;
}

.workspaces,.filter {
    margin-bottom: 1rem;
}

.block-inner-1 {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    line-height: 1.5;
}

.block-inner-2 {
    padding: 1rem;
    background: white;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.all {
    margin-right: 40px;
    font-weight: 500;
}

#question_pool {
    margin-top: 25px;
}
#name {
    font-weight: 700;
}

#keyword {
    color: cadetblue;
}

#question {
    border-bottom: 5px solid white;
    padding: 5px;
    width: 100%;
    background-color: aliceblue;
}

#add {
    margin-top: 10px;
}
#input {
    display: none;
}

#response {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-left: 10px;
}

#typeResponse {
    display: none;
}
ul li{
    text-decoration: none;
}
input[type=submit], select {
    width: 10%;
    margin-left: 50px;
}

#user {
    font-size: 0.9em;
}
#time {
    font-size: 0.9em;
}
